body {
  font-family: Arial, sans-serif;
  background: #fff;
  font-size: 1rem;
}
.section{
  width: 50%;
  justify-self: center;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 5px 10px;
  border-radius: 10px;
}
form, .cv-display{
  border: #fff 0.1rem;
  width: 90%;
  padding: 20px;
  margin-bottom: 1rem;
  background-color: #150347;
  justify-self: center;
  border-radius: 10px;
}

h1{
  color: #150347;

}
h2, p{
  color: #fff
}
label{
    display: block;
    margin-top: 10px;
    font-weight: 600;
    text-align: left;
    margin-left: 10px;
    color: #fff;
}
input {
  display: block;
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  justify-self: center;
  border: none;
 
}
select{
  display: flex;
}
button {
  padding: 10px 15px;
  cursor: pointer;
  width: 25%;
  color: #333;
  background-color: #fff;
  font-weight: 600;
  border-radius: 5px;
}

.section-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}
.section-header button{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}