body {
  font-family: Arial, sans-serif;
  background: #fff;
  font-size: 1rem;
  text-align: center;
}

.cv-container{
    display: flex;
    gap: 10px;
    padding: 20px;
    width: 100%;
    
}
.header{
  display: flex;
  background-color: #150347;
  justify-content: space-between;
  padding: 0.25rem;
}
h1{
  color: #fff;
  font-size: 1.5rem;
  margin: 0.5rem;
}
.header .button{
  background-color: #fff;
  color: #333;
  width: 8rem;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.header .button:hover {
  transform: translateX(5px);
  background-color: #150347;
  color: #fff;
}
.left-panel{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* RIGHT SIDE */
.right-panel{
    width: 100%;
    background: white;
    padding: 30px;
    border-radius: 10px;
    min-height: 100vh;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.section{
  width: 95%;
  justify-self: left;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 5px 10px;
  border-radius: 10px;
  margin-bottom: 2rem;
   transition: all 0.3s ease;
   
}
.section:hover{
  transform: translateY(5px);
}
form{
  border: #fff 0.1rem;
  width: 90%;
  padding: 20px;
  margin-bottom: 1rem;
  background-color: #150347;
  justify-self: center;
  border-radius: 10px;
}

h2{
  color: #333;
  font-size: 1.5rem;
  width: 100%;
  text-align: left;
}
label{
    display: block;
    margin-top: 10px;
    font-weight: 600;
    text-align: left;
    margin-left: 10px;
    color: #fff;
    font-size: 0.95rem;
    margin-left: 0.3rem;
}
input {
  display: block;
  width: 90%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  color: #fff;
  justify-self: center;
  border: none;
 
}
select{
  display: flex;
  margin-left: 0.3rem
}
button{
  padding: 10px 15px;
  cursor: pointer;
  width: 25%;
  color: #333;
  background-color: #fff;
  font-weight: 600;
  border-radius: 5px;
}

.section-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}
.section-header button{
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
}

.cv-display{
  background-color: #fff;
}
h3{
  text-align: left;
  color: #150347
}